<header>

    <ul class="headerNavBar">
        <li><a id="headerTitle" href="/tervetuloa">Nyytärit v0.1</a></li>
        <li>
            <a href="/uusiKayttaja">Uusi käyttäjä</a>
        </li>
        <li>
            <a href="/nyyttarit">ItemList</a>
        </li>
        <li th:if="${loggedUser != null}" id="logout">
            <a href="/logout">Kirjaudu Ulos</a>
        </li>
        <form th:if="${loggedUser == null}" method="POST" th:action="@{/authenticate}">
        <li class = "login">
            <input type="submit" value="Kirjaudu sisään!" />
        </li>
        <li class = "login">
            <input type="text" name="password" placeholder="Password" />
        </li>
        <li class = "login">
            <input type="text" name="username" placeholder="Username" />
        </li>
        </form>
    </ul>
</header>