html, body {
    height: 100%;
    margin:0px;
}

#wrapper {
    background-image: url('/images/background.jpg');
    background: url('/images/background.jpg') no-repeat center center fixed;
    min-height: 100%;
    margin: 0px;
    background-attachment:fixed;
}

.headerNavBar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: fixed;
    background-color: #4CAF50;
    left:0px;
    top:0px;
    width: 100%;
    -webkit-box-shadow: 0px 4px 18px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 4px 18px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 4px 18px 0px rgba(0,0,0,0.75);
    z-index: 9;
}

.headerNavBar li {
    float:left;
    padding: 14px 16px;
}

.headerNavBar li a {
    color: white;
    text-align: center;
    text-decoration: none;
}

#logout {
    float:right;
}

header {
    font-size: 17px;
}

#welcomeContent {

    width: 100%;
    background-color: #4CAF50;
    -webkit-box-shadow: 0px -4px 18px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px -4px 18px 0px rgba(0,0,0,0.75);
    box-shadow: 0px -4px 18px 0px rgba(0,0,0,0.75);

}

#welcomeContent p, #welcomeContent h2{
    margin-top: 0px;
}

#welcomeLogin {

    position: relative;
    left: 50%;
    margin-left: -320px;
}



.login {
    list-style-type: none;
}

.login input[type=text], .login input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    -webkit-box-shadow: 0px 5px 24px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 5px 24px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 5px 24px 0px rgba(0,0,0,0.75);
}

.login input[type=submit] {
    width: 100%;
    background-color: blue;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    -webkit-box-shadow: 0px 5px 24px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 5px 24px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 5px 24px 0px rgba(0,0,0,0.75);
}

.center-div {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 30%;
    max-height: 200px;
    border-radius: 3px;
}

.upper-div {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 30%;
    max-height: 200px;
    border-radius: 3px;
}

.outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.bottom {
    display: table-cell;
    vertical-align: bottom;
}

.inner {
    margin-left: auto;
    margin-right: auto; 
    width: 40%;
}

.innerWhenLogged {
    margin-left: auto;
    margin-right: auto; 
    width: 40em;
    background-color: blue;
    padding: 2em;
}
.innerWhenLogged ul {
    padding: 0px;
}

@media (max-width:1200px) {
    #wrapper {
        background-image: url('/images/backgroundMobile.jpg');
    }
}
