html {
    height: 100%;
}

body {
    background-image: url('/images/background.jpg');
    margin: 0px;
}

.headerNavBar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: fixed;
    background-color: #3D9970;
    left:0px;
    top:0px;
    width: 100%;
    -webkit-box-shadow: 0px 4px 18px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 4px 18px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 4px 18px 0px rgba(0,0,0,0.75);
}

.headerNavBar li {
    float:left;
    padding: 14px 16px;
}

.headerNavBar li a {
    color: white;
    text-align: center;
    text-decoration: none;
}

#logout {
    float: right;
}

.login {
    margin-right: 10px;
    margin-top: 8px;
}

.headerNavBar .login {
    float:right;
}

header {
    font-size: 17px;
}

#welcomeContent {
    
    width: 100%;
    background-color: #3D9970;
    -webkit-box-shadow: 0px -4px 18px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px -4px 18px 0px rgba(0,0,0,0.75);
    box-shadow: 0px -4px 18px 0px rgba(0,0,0,0.75);
        
}

#welcomeLogin {
    margin: 28em auto;
    width: 50%;
    background-color: #3D9970;

}

@media (max-width:1200px) {

}