<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head lang="en">
        <meta charset="UTF-8" />
        <title>Photocan</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="theme-color" content="#222831" /> <!-- For mobile Chrome -->
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600' rel='stylesheet' type='text/css' />
        <link rel="stylesheet" th:href="@{/css/style.css}" />
    </head>
    <body>
        <div th:replace="fragments/header :: header"></div>

        <main>
            <p>Hello!</p>
            <section>
                    <h3>Story Entries</h3>
                    <div th:each="story : ${stories}">
                        <div>
                            ${stories.name}
                        </div>
                    </div>
            </section>
            <section>
                <form method="POST" th:action="/frontpage">
                    <p>Event name: <br /><input type="text" name="name"/></p>
                    <p>Event text: <br /><textarea name="text"></textarea></p>
                    <input type="submit" value="Submit"/>
                </form>
            </section>
        </main>

        <div th:replace="fragments/footer :: footer"></div>
    </body>
</html>