<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head lang="en">
        <meta charset="UTF-8" />
        <title>Nyyttarit</title>
        <script src="../../js/jquery-1.12.3.min.js" th:src="@{/js/jquery-1.12.3.min.js}"></script>
        <script src="../../js/script.js" th:src="@{/js/script.js}"></script>
        <link rel="stylesheet" type="text/css" media="all"  href="../../css/listPageStyle.css" th:href="@{css/listPageStyle.css}" />
    </head>
    <body>
        <div>
            <div th:replace="fragments/header :: header"></div>
        </div>

        <div id="wrapper">
            
            <div class="upper-div">
                <span>Omat nyyttärit.</span>
            </div>
            
            <div class="center-List">
                <table th:each="itemList : ${itemLists}">
                    <tr>
                        <td>
                            <a th:href="@{/nyyttarit/{id}(id=${itemList.id})}"><span th:text="${itemList.name}"></span></a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span th:text="${itemList.description}"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <form th:action="@{/nyyttarit/delete/{id}(id=${itemList.id})}" method="POST"><input type="submit" value="poista"/></form>
                        </td>
                    </tr>
                </table>

                <form id="nyyttariLomake" action="#" th:action="@{/nyyttarit}" th:object="${itemList}" method="POST">

                    <table>
                        <tr>
                            <td>Nimi: </td>
                            <td><input type="text" th:field="*{name}" /></td>
                        </tr>
                        <tr>
                            <td>Kuvaus: </td>
                            <td>
                                <textarea form="nyyttariLomake" th:field="*{description}" rows="4" cols="50"></textarea>
                            </td>
                        </tr>
                        <tr>
                            <td><input type="submit" value="Lisää lista!" /></td>
                        </tr>

                    </table>
                </form>
            </div>
        </div>

        <div th:replace="fragments/footer :: footer"></div>
    </body>
</html>