<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head lang="en">
        <meta charset="UTF-8" />
        <title>Nyyttarit</title>
        <script src="../../js/jquery-1.12.3.min.js" th:src="@{/js/jquery-1.12.3.min.js}"></script>
        <script src="../../js/script.js" th:src="@{/js/script.js}"></script>
        <link rel="stylesheet" type="text/css" media="all"  href="../../css/listPageStyle.css" th:href="@{/css/listPageStyle.css}" />
    </head>
    <body>
        <div>
            <div th:replace="fragments/header :: header"></div>
        </div>

        <div class="upper-div">
            <span th:text="${itemList.name}"></span>
        </div>

        <div id="wrapper">
            <div class="center-List">
                <ul th:each="item : ${items}">
                    <li>
                        <span th:text="${item.name}"></span>, <span th:text="${item.amount}"></span> kpl.
                        <form th:action="@{/nyyttarit/{id}/varaa/{tavara_id}(id=${id}, tavara_id=${item.id})}" method="POST">
                            <input type="text" name="reserverName" />
                            <input type="number" name="reserveAmount" />
                            <input type="submit" value="Varaa"/></form>
                        <ul th:each="reserve : ${item.reservedBy}">
                            <li>
                                Varannut: <span th:text="${reserve.key}"></span> Määrä: <span th:text="${reserve.value}"></span>
                            </li>
                        </ul>
                    </li>
                    <div th:if="${loggedUser != null}">
                        <li th:if="${loggedUser.id == itemListCreatorId}">
                            <form th:action="@{/nyyttarit/{id}/delete/{tavara_id}(id=${id}, tavara_id=${item.id})}" method="POST"><input type="submit" value="poista"/></form>
                        </li>
                    </div>
                </ul>

                <div th:if="${loggedUser != null}">
                    <form th:if="${loggedUser.id == itemListCreatorId}" action="#" th:action="@{/nyyttarit/{id}/lisaa(id=${id})}" th:object="${item}" method="POST">

                        <table>
                            <tr>
                                <td>Nimi: </td>
                                <td><input type="text" th:field="*{name}" /></td>
                            </tr>
                            <tr>
                                <td>Määrä: </td>
                                <td><input type="number" th:field="*{amount}" /></td>
                            </tr>
                            <tr>
                                <td><input type="submit" value="Lisää tavara!" /></td>
                            </tr>

                        </table>
                    </form>
                </div>
            </div>
        </div>

        <div th:replace="fragments/footer :: footer"></div>
    </body>
</html>