<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head lang="en">
        <meta charset="UTF-8" />
        <title>Nyyttarit</title>
    </head>
    <body>
        <div th:replace="fragments/header :: header"></div>

        <main>
            <table th:each="item : ${items}">
                <tr>
                    <td><span th:text="${item.name}"></span>, </td>
                    <td><span th:text="${item.amount}"></span> kpl.</td>
                </tr>
                <div th:if="${loggedUser != null}">
                    <tr th:if="${loggedUser.id == itemListCreatorId}">
                        <td>
                            <form th:action="@{/nyyttarit/{id}/delete/{tavara_id}(id=${id}, tavara_id=${item.id})}" method="POST"><input type="submit" value="poista"/></form>
                        </td>
                    </tr>
                </div>
            </table>

            <div th:if="${loggedUser != null}">
                <form th:if="${loggedUser.id == itemListCreatorId}" action="#" th:action="@{/nyyttarit/{id}/lisaa(id=${id})}" th:object="${item}" method="POST">

                    <table>
                        <tr>
                            <td>Nimi: </td>
                            <td><input type="text" th:field="*{name}" /></td>
                        </tr>
                        <tr>
                            <td>Määrä: </td>
                            <td><input type="number" th:field="*{amount}" /></td>
                        </tr>
                        <tr>
                            <td><input type="submit" value="Lisää tavara!" /></td>
                        </tr>

                    </table>
                </form>
            </div>

        </main>

        <div th:replace="fragments/footer :: footer"></div>
    </body>
</html>