<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head lang="en">
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title>Nyyttarit</title>
        <script src="../../js/jquery-1.12.3.min.js" th:src="@{/js/jquery-1.12.3.min.js}"></script>
        <script src="../../js/script.js" th:src="@{/js/script.js}"></script>
        <link rel="stylesheet" type="text/css" media="all"  href="../../css/style.css" th:href="@{css/style.css}" />
    </head>
    <body>
        <div>
            <div th:replace="fragments/header :: header"></div>
        </div>

        <div id ="wrapper">
            
            <div class="upper-div" th:if="${loggedUser == null}">
                <span>Rekisteröityminen</span>
            </div>

            <div class="center-div" th:if="${loggedUser == null}">

                <div class="mobileTitle">
                    <span>Luo tunnus</span>
                </div>

                <form class="notLoggedForm"  action="#" th:action="@{/uusiKayttaja}" th:object="${person}" method="POST">
                    <ul>

                        <li class = "login">
                            <input type="text" th:field="*{username}" placeholder="Käyttäjänimi" />
                            <span class="error" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Virheviesti</span>
                        </li>
                        <li class = "login">
                            <input type="password" th:field="*{password}" placeholder="Salasana" />
                            <span class="error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Virheviesti</span>
                            <span class="error" th:text="${errorMessage}">Virheviesti</span>
                        </li>
                        <li class = "login">
                            <input type="password" th:field="*{passwordAgain}" placeholder="Salasana uudestaan" />
                            <span class="error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Virheviesti</span>
                        </li>
                        <li class = "login">
                            <input type="submit" value="Reksiteröidy!" />
                        </li>
                    </ul>
                </form>
            </div>

            <div class="upper-div" th:if="${loggedUser != null}">
                <span>Olet jo kirjautunut!</span>
            </div>
            <a id="lower-div" href="#welcomeContent">
                <span>Info</span>
            </a>

        </div>

        <div id ="welcomeContent">

            <div id="welcomeContentTitle">
                <span>Ohjeet</span>
            </div>

            <div id="welcomeContentMain">
                <div class="guideSlides">
                    <img src="/images/filler.jpg" alt="image"/>
                    <img src="/images/filler.jpg" alt="image"/>
                </div>
                <div class="guideSlides">
                    <img src="/images/filler.jpg" alt="image"/>
                    <img src="/images/filler.jpg" alt="image"/>
                </div>
            </div>


            <div id="selfPromo">
                <div><img id="selfImage" src="/images/self.JPG" alt="image" /></div>
                <div>Made by Laur Pulliainen, 
                    <br/> Second year student at University of Helsinki Computer Science department.</div>
                <div th:replace="fragments/footer :: footer"></div>
            </div>
        </div>
    </body>
</html>